*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homePage{
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: #2D3436;
    display: flex;
}

.mainContainer{
    padding-left: 70px;
    width: 100%;
    height: 100%;
}

.sidebar{
    width: 70px;
    height: 100vh;
    background: #2D3436;
    box-shadow: 4px 0px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.sidebarholder{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.statusBar{
    padding: 30px 45px;
    width: 100%;
    height: 196px;
    background: #2D3436;
    box-shadow: 4px 0px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

.lightTheme{
    color: #2D3436;
    background-color: #fff;
    box-shadow: 0px 15px 30px rgba(181, 173, 243, 0.5);
}

.darkTheme{
    color: #fff;
    background-color:#2D3436;
    box-shadow: 0px 12px 18px rgba(1, 1, 1, 0.5); 
}

.leftSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightSection{
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
}

.notification{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.statusBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoutBtn{
    display: flex;
    align-items: center;
}

.content{
    margin: 70px 50px;
    display: flex;
    justify-content: space-between;
}

.dateInfo{
    width: 40%;
    height: 637px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attendance{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.attendenceCard{
    height: 128px;
    width: 45%;
    border-top: 5px solid #fff;
    border-radius: 5px 5px 15px 15px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
}

.calender{
    width: 100%;
    height: 437px;
    border-top: 5px solid #fff;
    border-radius: 5px 5px 15px 15px;
    padding: 30px 50px;
}

.noticeBoard{
    width: 30%;
    height: 638px;
    border-top: 5px solid #fff;
    border-radius: 5px 5px 15px 15px;
    padding: 30px 50px;
    margin: 0 60px;
}

.noticeHolder{
    width: 100%;
    height: 126px;
    border-left: 5px solid #fff;
    border-radius: 5px 15px 15px 5px;
    margin: 35px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.recentActivities{
    border-top: 5px solid #fff;
    border-radius: 5px 5px 15px 15px;
    width: 30%;
    height: 638px;
    padding: 30px 50px;
}

.notice{
    height: 55px;
    width: 100%;
    line-height: 1.2rem;
    margin-bottom: 15px 0;
    font-size: 0.9rem;
    overflow: hidden;
}

.postedTime{
    display: flex;
    align-items: center;
}

.postedTime p{
    margin-left: 10px;
    font-size: 0.8rem;
}

.activity{
    margin: 20px 0;
    margin-left: 10px;
    font-size: 0.9rem;
}

.lightHorizontalBorder{
    color: #2D3436;
    background-color: #fff;
    box-shadow: 0px 15px 30px rgba(181, 173, 243, 0.5);
    border-top: 5px solid #2D3436;
}

.lightVerticalBoder{
    color: #2D3436;
    background-color: #fff;
    box-shadow: 0px 15px 30px rgba(181, 173, 243, 0.5);
    border-left: 5px solid #2D3436;
    border-radius: 5px 15px 15px 5px;
}

.notification2{
    display: none;
}

 /* media query */
 @media only screen and (max-width:1425px){
    .attendenceCard{
        padding: 30px;
    }
    .noticeBoard{
        padding: 30px 20px;
        margin: 0 30px;
    }
    .recentActivities{
        padding: 30px 20px;
    }
    .noticeHolder{
        padding: 15px;
    }
    .notice{
        height: 70px;
    }
 }


 @media only screen and (max-width:1100px){
    .notification2{
        flex-direction: row-reverse;
        display: flex;
        width: 500;
        justify-content: space-between;
        align-items: center;
    }
    .notification{
        display: none;
    }
    .statusBtn{
        width: 300px;
        flex-direction: column;
        padding-left: 100px;
        justify-content: space-between;
        height: 100%;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dateInfo, .noticeBoard, .recentActivities{
        width: 90%;
    }
    .noticeBoard{
        margin: 50px 0;
        padding: 30px 50px;
    }
    .recentActivities{
        padding: 30px 50px;
    }
    
 }

 @media only screen and (max-width:755px){
     .mainContainer{
         padding-left: 50px;
     }
     p{
         font-size: small;
     }
     h1,h2,h3,h4{
         font-size: medium;
     }
     .leftSection{
         width: 90%;
    }
    .statusBtn{
        width: 10%;
    }
    .notification2{
        width: 250px;
    }
    .statusBar{
        display: flex;
        padding: 10px;
        height: 150px;
    }
    .attendenceCard h1{
        margin-top: 10px;
        font-size: 30px;
    }
    .sidebar{
        width: 50px;
    }
 }

 @media only screen and (max-width: 600px){
    .attendenceCard{
        width: 48%;
        padding: 20px;
    }
    .dateInfo{
        width: 95%;
    }
    .calender{
        width: 100%;
    }
    .noticeBoard{
        width: 95%;
    }
    .recentActivities{
        width: 95%;
    }
    .content{
        margin: 70px 10px;
    }
}