@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,800;0,900;1,600&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loginContainer{
    width: 1176px;
    height: 746px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.darkTheme{
    background-color:#2D3436;
    box-shadow: 0px 12px 18px rgba(1, 1, 1, 0.5); 
}

.lightTheme{
    background-color: #fff;
    box-shadow: 0px 10px 25px rgba(181, 173, 243, 0.5);
}

/* login info */
.loginInfo{
    width: 441px;
    height: 746px;
    background: rgba(107, 100, 203, 0.5);
    border-radius: 50px 0 0 50px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    z-index: 1;
}
.loginInfoTitle{
    font-size: 20px;
    font-weight: normal;
}

.loginInfo > div{
    width: 100%;
    padding: 50px;
    text-align: center;
}

.loginInfoGreeting{
    margin-left: -90px;
}

.uppercase{
    text-transform: uppercase;
}

/* form */
.loginForm{
    width: 735px;
    height: 746px;
    border-radius: 0 50px 50px 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.switch{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    color: white;
}

.switchLight{
    color: #505556;
}

/* .dark{
    color: black;
} */

.togglebtn{
    margin-top: -5px;
}

.form{
    margin: 20% auto;
    color: #fff;
}

.formLight h2{
    color: #2D3436;
}

.inputField{
    border: none;
    padding: 28px;
    margin: 19px 0;
    width: 443px;
    background-color: #505556;
}
.inputDark{
    background-color: #c5c5c5;
}
input::placeholder{
    color: white;
}

.inputField:focus{
    outline-style: none;
}

.doubleArrow{
    background-color: #fff;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doubleArrowLight{
    background-color: #2D3436;
    color: #fff;
}

.link{
    display: flex;
    flex-direction: row-reverse;
    color: #fff
}

.linkLight{
    color: #2D3436;
}

.ncit{
    position: absolute;
    top: 290px;
    left: 320px;
    z-index: 0;
}

.ncit h1{
    font-weight: 900;
    font-size: 100px;
    transform: rotate(270deg);
    color: #505556;
}
.ncitDark h1{
    color: #c5c5c5;
}

@media only screen and (max-width:1200px){
    .loginContainer{
       width: 1000px;
    }
    .ncit{
        left: 250px;
    }
}

@media only screen and (max-width:992px){
    .loginContainer{
       width: 800px;
    }
    .ncit{
        left: 130px;
    }
    .loginInfoGreeting{
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width:720px){
    .loginContainer{
       width: 400px;
       flex-direction: column;
    }
    .loginInfo{
        width: 100%;
        height: 300px;
        border-radius: 50px 50px 0 0;
    }
    .ncit{
        transform: rotate(90deg);
        margin-top: -30px;
        margin-left: 20px;
    }
    .ncit h1{
        font-weight: blod;
        font-size: 40px;
    }
    .loginInfoGreeting{
        margin-left: 0;
        text-align: center;
    }

    .loginInfo > div{
        text-align: start;
        padding: 30px;
    }
    .loginForm{
        width: 600px;
        padding: 30px;
    }
    .inputField{
        width: 300px;
    }
    .loginForm{
        width: 400px;
    }
    .doubleArrow{
        width: 50px;
        height: 50px;
    }
    .form{
        margin: 20px;
    }
}

/* @media only screen and (max-width: 576px){
    .loginContainer{
        width: 400px;
        flex-direction: column;
     }
    .inputField{
        width: 300px;
    }
    .loginForm{
        width: 400px;
    }
} */
